* {
  padding: 0;
  margin: 0;
}

.headback{
  background-image:url('../img/background.jpg');
  background-size: 1558px 1000px ;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  padding-top: calc((100vh - 650px) / 2)
}
.circle-container{
  background: rgba(0,0,0,0.79);
  width: 650px;
  height: 650px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  max-height: 900px;
}
.circle-container>div{
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  max-height: 900px;
  padding-top: 90px;
}
.commonwise {	    
  margin-bottom: 48px; 
  height: 52px;		
  color: #7FB54E;	
  font-family: Montserrat;	
  font-size: 36px;	
  font-weight: 800;	
  line-height: 52px;	
  text-align: center;
}
.coming-soon {	
  height: 27px;	
  color: #FFFFFF;	
  font-family: Montserrat;	
  font-size: 18px;	
  font-weight: 200;	
  line-height: 27px;	
  text-align: center;
  margin-bottom: 2px;
}
.a-new-project-to-acc {		
  color: #FFFFFF;	
  font-family: Montserrat;	
  font-size: 32px;	
  font-weight: 300;	
  line-height: 42px;	
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.get-updates {	
  height: 27px;
  margin-top: 42px;
  margin-bottom: 13px;		
  color: #FFFFFF;	
  font-family: Montserrat;	
  font-size: 18px;	
  font-weight: 200;	
  line-height: 27px;	
  text-align: center;
}
.we-won-t-share-your {
  margin-bottom: 4%;
  margin-top: 20px;
  height: 19px;		
  color: #AEAEAE;	
  font-family: Montserrat;	
  font-size: 14px;	
  line-height: 19px;	
  text-align: center;
  font-weight: 200;
}
.contact-us {	
  height: 19px;	
  color: #7FB54E;	
  font-family: Montserrat;	
  font-size: 16px;	
  line-height: 19px;	
  text-align: center;
  text-decoration: underline;
  margin: 0 auto;
  display: block;
}

/**** MAILCHIMP INPUT AND BUTTON SPECS ***/
#mc_embed_signup {
  max-width: 485px;
  margin-left: auto;
  margin-right: auto;
}
#mc_embed_signup_scroll>div{
  text-align: center;
}
.text-field
{
  height: 42px;
  width: 240px;
  margin-right: 10px;
  background-color: #FFFFFF;
  color: #666666;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 19px;
  border-radius: 0px;
  padding-left: 20px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.text-field::placeholder {
  color: #AEAEAE;
}
.button
{
  background-color: #7FB54E;
}
.submit {
  height: 42px;
  width: 115px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  border-radius: 0px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  margin-top: 1px;
}
#message p{
  color:#ffffff;
  padding-top: 26px;
  margin: 0 auto;
  font-family: Montserrat;
  text-align: center;
}
#message p.coerror{
  color: red;
}

/* ipad portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .headback {
    height: 100vh;
    margin-bottom: 0;
    padding-top: calc((100vh - 100vw) / 2);
    padding-bottom: 0;
    background-size: cover;
    box-sizing: border-box;
  }
  .circle-container {
    width: 100vw;
    height: 100vw;
    padding-top: 20px;
    transform: scale(0.95)
  }
  .commonwise {
    margin-bottom: 4vh;
  }

  .a-new-project-to-acc {
    font-size: 30px;
    line-height: 50px;
    margin: 0 auto;
    width: 500px;
  }

  .get-updates {
    margin-top: 5vh;
  }
  #message p {
    margin: 0 auto;
  }
  .we-won-t-share-your {
    margin-bottom: 30px;
  }
  #mc_embed_signup_scroll>div{
    text-align: center;
  }

  .button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 90px;
  }

  .text-field {
    width: 230px;
  }
}
/* ipad landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  .headback {
    height: 100vh;
    margin-bottom: 0;
    padding-bottom: 0;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 0;
  }
  .circle-container {
    width: 100vh;
    height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
    transform: scale(0.95)
  }
  .commonwise {
    margin-bottom: 4vh;
  }

  .a-new-project-to-acc {
    font-size: 30px;
    line-height: 40px;
    margin: 0 auto;
    width: 500px;
  }

  .get-updates {
    margin-top: 5vh;
  }

  #message p {
    padding-top: 0px;
    font-size: 12px;
  }
  #mc_embed_signup_scroll>div{
    text-align: center;
  }

  .button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 90px;
  }

  .text-field {
    width: 230px;
  }
  .we-won-t-share-your {
    margin-bottom: 5%;
  }
}
@media (orientation: landscape) and (max-width: 736px) {
  .headline {
    height: 40vh;
  }
  .commonwise {
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 10px;
  }
  .headback {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .circle-container {
    border-radius: 100%;
    width: 100vh;
    height: 100vh;
    padding: 20px 0px 30px;
    box-sizing: border-box;
    transform: scale(0.95)
  }

  .coming-soon {
    margin-bottom: 2px;
    padding-top: 0px;
    display: none;
  }

  .circle-container>div {
    padding-top: 0;
  }
  
  .a-new-project-to-acc {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;
    width: 80%;
    padding-bottom: 0px;
  }

  .coming-soon, .get-updates {
    font-size: 12px;
  }

  .get-updates {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  #mc_embed_signup_scroll > div {
    text-align: center;
  }

  .text-field {
    margin-bottom: 4px;
    padding-left: 10px;
    width: 45%;
    font-size: 10px;
    height: 40px;
    margin-right: 0;
  }

  #message p {
    padding-top: 0px;
    font-size: 12px;
  }

  .button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 20%;
    vertical-align: top;
    margin-top: 0px;
    font-size: 12px;
    height: 40px;
  }

  .we-won-t-share-your {
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .contact-us {
    font-size: 14px;
  }
}

@media (orientation: portrait) and (max-width: 600px) {

  .headline {
    height: 22vh;
  }
  .commonwise {
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .headback {
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: 100vh 100vh ;
    height: 100vh;
    box-sizing: border-box;
  }
  .circle-container {
    border-radius: 100%;
    width: 100vw;
    height: 100vw;
    padding: 10vw 15px 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
    position: absolute;
    top: 22%;
    transform: scale(0.95)
  }

  .coming-soon {
    margin-bottom: 2px;
    padding-top: 0;
    display: none;
  }

  .circle-container>div {
    padding-top: 0;
  }
  
  .a-new-project-to-acc {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;
    padding-bottom: 0;
    width: 90%;
  }


  .coming-soon, .get-updates {
    font-size: 12px;
  }

  .get-updates {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  #mc_embed_signup_scroll > div {
    text-align: center;
  }

  .text-field {
    margin-bottom: 4px;
    padding-left: 2px;
    width: 45%;
    font-size: 10px;
    height: 40px;
    margin-right: 0;
  }

  #message p {
    padding-top: 0px;
    font-size: 12px;
  }

  .button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 20%;
    vertical-align: top;
    margin-top: 0px;
    font-size: 12px;
    height: 40px;
  }

  .we-won-t-share-your {
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .contact-us {
    font-size: 14px;
  }
}

/* iPhone X landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
  .headline {
    height: 40vh;
  }
  .commonwise {
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 10px;
  }
  .headback {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .circle-container {
    border-radius: 100%;
    width: 100vh;
    height: 100vh;
    padding: 20px 0px 30px;
    box-sizing: border-box;
  }

  .coming-soon {
    margin-bottom: 2px;
    padding-top: 0px;
    display: none;
  }

  .circle-container>div {
    padding-top: 0;
  }
  
  .a-new-project-to-acc {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;
    width: 80%;
    padding-bottom: 0px;
  }

  .coming-soon, .get-updates {
    font-size: 12px;
  }

  .get-updates {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  #mc_embed_signup_scroll > div {
    text-align: center;
  }

  .text-field {
    margin-bottom: 4px;
    padding-left: 10px;
    width: 45%;
    font-size: 10px;
    height: 40px;
    margin-right: 0;
  }

  #message {
    padding-top: 0px;
    font-size: 12px;
  }

  .button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 20%;
    vertical-align: top;
    margin-top: 0px;
    font-size: 12px;
    height: 40px;
  }

  .we-won-t-share-your {
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .contact-us {
    font-size: 14px;
  }
  
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
  .headline {
    height: 180px;
  }
  .commonwise {
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 10px;
  }
  .headback {
    padding-bottom: 20px;
    padding-top: calc((100vh - 100vw) / 2)
  }
  .circle-container {
    border-radius: 100%;
    width: 100vw;
    height: 100vw;
    padding: 20px 0px 30px;
    box-sizing: border-box;
    top: auto;
  }

  .coming-soon {
    margin-bottom: 2px;
    padding-top: 0px;
    display: none;
  }

  .circle-container>div {
    padding-top: 0;
  }

  .a-new-project-to-acc {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
    width: 80%;
    padding-bottom: 0px;
  }

  .coming-soon, .get-updates {
    font-size: 12px;
  }

  .get-updates {
    margin-top: 10px;
    margin-bottom: 6px;
  }

  #mc_embed_signup_scroll > div {
    text-align: center;
  }

  .text-field {
    margin-bottom: 4px;
    padding-left: 10px;
    width: 45%;
    font-size: 10px;
    height: 40px;
    margin-right: 0;
  }

  #message {
    padding-top: 0px;
    font-size: 12px;
  }

  .button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    width: 20%;
    vertical-align: top;
    margin-top: 0px;
    font-size: 12px;
    height: 40px;
  }

  .we-won-t-share-your {
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .contact-us {
    font-size: 14px;
  }

}